@import url('https://fonts.googleapis.com/css2?family=Lemonada&family=Open+Sans&family=Patrick+Hand&family=Poppins&display=swap');
body {
	width: 100%;
	height: 100vh;
	background: rgb(240, 239, 243);
	margin: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: 'Poppins', sans-serif;
}
.header h1{
	margin-top: -10px;
	 font-size: 35px; 
	 color: #000;
	font-family: 'Lemonada', cursive;
	font-weight: 900;
}
.header a{
	position: relative;
	text-decoration: none;
	color: #1d1d1d;
	top: 5px;
	left: 85%;
	background: #fff;
	padding: 3px 10px;
	box-shadow: 0px 15px 30px rgb(0,0,0,0.09);
	border-radius: 10px;
}
.header a:hover{
	background: black;
	color: cyan;
}
.header .light{
    position: relative;
    left: 110%;
    top: -18px;
    background: green;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    
}
.container{
	width: 340px;
	height: 520px;
	background: #fff;
	border-radius: 15px;
	box-shadow: 4px 4px 30px rgb(0,0,0,0.06);
	padding: 10px;
	overflow-y: scroll;
}
.container::-webkit-scrollbar{
    display:none;
}
.container form{
	width: 100%;
	border: 1px solid #000;
	border-radius: 4px;
	display: flex;
	flex-direction: row;
	align-items: center;
}
.container form input{
	border: none;
	outline: none;
	box-shadow: none;
	width: 91%;
	font-size: 15px;
	font-weight: 500;
	padding: 8px 10px;
}
.container form i{
	padding-left: 10px;
}
.product-list{
	padding: 10px 0;
}
.product{
	background: #fff;
	border-radius: 10px;
   box-shadow: 4px 4px 30px rgb(0,0,0,0.1);
	height: 70px;
	display: flex;
	align-items: center;
	cursor: pointer;
	margin: 7px;
}
.product .p-details{
	padding: 10px;
}
.product img{
   margin-left: 8px;
	width: 55px;
	height: 55px;
	object-fit: cover;
	border-radius: 5px;
   box-shadow: 0 5px 10px rgb(0,0,0,0.5);
}
.product .p-details h2{
	font-size: 20px;
	color: #1d1d1d;
}
.product .p-details a{
   position: relative;
   text-decoration: none;
   color: #1d1d1d;
   top: -15px;
   left: 0px;
   background: #dee1e2;
   padding: 0px 30px;
   border-radius: 10px;
   font-weight: 500;
}
.product .p-details a:hover{
	background: #000;
	color: cyan;
}

@media only screen (max-width: 600px){
	.container{
	 width: 600px;
	  height: 600px;
	}

}